<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="org.zerock.mapper.AdminMapper">
	
	<insert id="bookEnroll">
		INSERT INTO book
		(
			bookName,
			authorId,
			publeYear,
			publisher,
			cateCode,
			bookPrice,
			bookStock,
			bookDiscount,
			bookIntro,
			bookContents	
		)
		VALUES
		(
			#{bookName},
			#{authorId},
			#{publeYear},
			#{publisher},
			#{cateCode},
			#{bookPrice},
			#{bookStock},
			#{bookDiscount},
			#{bookIntro},
			#{bookContents}
		)
	</insert>
	
	<select id="cateList" resultType="org.zerock.model.CateVO">
		SELECT
			*
		FROM 
			bcate
		ORDER BY catecode
	</select>
	
	<!-- 상품 리스트 -->
	<select id="goodsGetList" resultType="org.zerock.model.BookVO">
		
	</select>
  	
  	<!-- 상품 총 갯수 -->
  	<select id="goodsGetTotal" resultType="int">
  		SELECT 
  			COUNT(*) 
  		FROM book
 
  		<if test="keyword != null">
  			WHERE bookName LIKE CONCAT('%', #{keyword}, '%')
  		</if>
  	</select>
 </mapper>